@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html{
    background: #E0E8FF;
}
body{    
    font-family: 'Red Hat Display', sans-serif;
    background: url(images/pattern-background-desktop.svg);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: repeat-x;
    overflow: hidden;   
}
section{
    height: 100%;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    max-width: 420px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.20);
}

.header img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    padding: 0 70px;
    color: rgba(0,0,0,0.50);
}

.choose-plan{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.plan{
    display: flex;
    align-items: center;
}
.plan .selected{
    padding-left: 20px;
    line-height: 0.5;
}
button{
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}

.primary{
    padding: 16px 100px;
    background: #382AE1;
    border: 0;
    border-radius: 10px;
    color:#fff;
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0;
    margin-top: 40px;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.20);

}
.primary:hover{
    background: #766CF2;
}
.cancel{
    background: #fff;
    color: #AEB4C2;
    border:0;
    font-weight: bold;
    margin-bottom: 60px;
}
.cancel:hover{
    color: rgba(0,0,0,0.8);
    font-weight: bold;
}

.attribution{
    position: fixed;
    bottom: 0;
    font-size: 14px;
    padding-bottom: 30px;
    font-weight: 200;
}

@media(max-width: 500px){
    body{
        background: url(images/pattern-background-mobile.svg);
    }
    .attribution{
        display: none;
    }
    .cancel{
        margin-bottom: 30px;
    }
    .primary{
        margin-top: 20px;
    }
}

@media(max-width: 450px){
       .card-container{
        max-width:300px;
    } 
    .primary{
        padding: 15px 42px;
    }
    .header p{
        padding: 0 20px;
    }
}